@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ugz6d7");
  src: url("fonts/icomoon.eot?ugz6d7#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ugz6d7") format("truetype"), url("../fonts/icomoon.woff?ugz6d7") format("woff"), url("../fonts/icomoon.svg?ugz6d7#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-whatsapp:before {
  content: "";
}

.icon-youtube:before {
  content: "";
}

.arrow__up, .products__caja-productos .arrow__up {
  margin: 20px;
  border-bottom: 10px solid #AEA56E;
  border-top: 10px solid rgba(255, 255, 255, 0);
  border-left: 10px solid rgba(255, 255, 255, 0);
  border-right: 10px solid rgba(255, 255, 255, 0);
}

.arrow__down, .products__caja-productos .arrow__down {
  margin: 20px;
  border-top: 10px solid #AEA56E;
  border-bottom: 10px solid rgba(255, 255, 255, 0);
  border-left: 10px solid rgba(255, 255, 255, 0);
  border-right: 10px solid rgba(255, 255, 255, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  max-width: 1366px;
  height: 800vh;
  margin: 0 auto;
  border: 1px solid red;
}

@media (max-width: 1024px) {
  body {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.navegation {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 706px;
  background-color: #FBECD9;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 4;
}
.navegation__icon {
  display: flex;
  justify-content: center;
  width: 230px;
  height: 28.1rem;
}
.navegation li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 103px;
  list-style: none;
}
.navegation li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  font-size: 2rem;
  color: #A0A0A0;
  text-decoration: none;
}
.navegation li a:hover {
  background-color: #EFE1C1;
}
.navegation li::after {
  content: "";
  width: 50%;
  border-bottom: 1px solid rgba(160, 160, 160, 0.3);
}
.navegation li:nth-child(5)::after {
  border-bottom: 0;
}

@media (max-width: 1024px) {
  .navegation {
    flex-direction: row;
    width: 100%;
    height: 100px;
    top: 0;
  }
  .navegation__icon {
    width: 20%;
  }
  .navegation__icon img {
    width: 50%;
  }
  .navegation nav {
    display: flex;
    width: 100%;
  }
  .navegation nav ul {
    display: flex;
    width: 100%;
  }
  .navegation nav ul li {
    width: 100%;
    height: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .navegation nav ul li::after {
    flex-direction: row;
    border-bottom: 0;
    height: 50%;
    width: 0;
    border-right: 1px solid rgba(160, 160, 160, 0.3);
  }
}
.rrss {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 9.7rem;
  height: 38.7rem;
  position: fixed;
  top: 90px;
  left: 92.2vw;
  z-index: 2;
}
.rrss__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-top: 20px;
  background-color: #02204B;
}
.rrss__icon a {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rrss__icon .icon-whatsapp {
  font-size: 35px;
  color: white;
}
.rrss__icon .icon-facebook2 {
  font-size: 35px;
  color: white;
}
.rrss__icon .icon-instagram {
  font-size: 35px;
  color: white;
}
.rrss__icon .icon-youtube {
  font-size: 35px;
  color: white;
}

@media (max-width: 1024px) {
  .rrss {
    left: 94%;
    top: 120px;
    width: 60px;
  }
}
.banner {
  width: 100%;
  height: 70.2rem;
  position: relative;
  overflow: hidden;
}
.banner__img {
  width: 100%;
  position: absolute;
}
.banner__img img {
  position: relative;
}
.banner h1 {
  width: 100%;
  font-size: 6em;
  position: relative;
  left: 267px;
  top: 242px;
  color: #02204B;
  z-index: 2;
}
.banner p {
  position: relative;
  left: 267px;
  top: 262px;
  font-size: 1.6rem;
  color: #A0A0A0;
}
.banner__boton {
  position: relative;
  left: 267px;
  top: 292px;
  width: 118px;
  height: 32px;
  font-size: 1.6rem;
  background-color: #AEA56E;
  color: white;
  border: 0;
}

@media (max-width: 1024px) {
  .banner__img {
    right: 33%;
  }
  .banner__img img {
    position: relative;
  }
  .banner h1 {
    left: 3%;
    font-size: 4.5rem;
    line-height: 3.5rem;
  }
  .banner p {
    left: 3%;
  }
  .banner__boton {
    left: 3%;
  }
}
.products {
  width: 100%;
  height: 97.6rem;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.products__caja-azul {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: #02204B;
  background-image: url("../img/patron.svg");
  background-image: cover;
}
.products__caja-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}
.products__caja-productos ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 313px;
  height: 100px;
  overflow: hidden;
}
.products__caja-productos ul li {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.products__caja-productos ul li p {
  font-size: 72px;
  color: #A0A0A0;
}
.products__caja-productos ul li a {
  text-decoration: none;
  color: #A0A0A0;
  font-size: 36px;
}
.products__caja-img {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 976px;
  overflow: hidden;
}
.products__caja-img h1 {
  width: 100%;
  height: 100%;
  color: #02204B;
  font-size: 6em;
  padding: 60px 20px;
}
.products__caja-img img {
  width: 100%;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .products {
    overflow: hidden;
  }
  .products__caja-azul {
    display: none;
  }
  .products__caja-productos {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .products__caja-img {
    margin-left: 55px;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .products__caja-img h1 {
    font-size: 4.5rem;
    line-height: 3.5rem;
    padding: 25%;
  }
}
.proyectos {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 992px;
}
.proyectos__contenido {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.proyectos__contenido h1 {
  width: 100%;
  font-size: 6em;
  position: relative;
  padding-top: 150px;
  color: #02204B;
}
.proyectos__contenido h3 {
  font-size: 21px;
  line-height: 0.9em;
  color: #AEA56E;
  margin-top: 50px;
}
.proyectos__contenido p {
  margin-top: 25px;
  font-size: 1.6rem;
  color: #A0A0A0;
}
.proyectos__contenido button {
  position: relative;
  margin-top: 50px;
  z-index: 3;
  cursor: pointer;
  width: 118px;
  height: 32px;
  font-size: 1.6rem;
  background-color: #02204B;
  color: white;
  border: 0;
}
.proyectos__caja-crema {
  position: relative;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: #FBECD9;
  background-image: url("../img/patron.svg");
}
.proyectos__caja-crema img {
  width: 135%;
  position: absolute;
  left: -290px;
  bottom: -3%;
}

@media (max-width: 1024px) {
  .proyectos {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 992px;
  }

  .proyectos__contenido {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .proyectos__contenido > h1 {
    font-size: 4.5rem;
    list-style: 3.5rem;
    padding-left: 30px;
  }

  .proyectos__contenido > h3,
.proyectos__contenido > p,
.proyectos__contenido > button {
    margin-left: 30px;
  }
}
@media (max-width: 1024px) {
  .proyectos {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 992px;
  }
  .proyectos__contenido {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .proyectos__contenido h1 {
    width: 100%;
    font-size: 6em;
    position: relative;
    padding-top: 150px;
    color: #02204B;
  }
  .proyectos__contenido h3 {
    font-size: 21px;
    line-height: 0.9em;
    color: #AEA56E;
    margin-top: 50px;
  }
  .proyectos__contenido p {
    margin-top: 25px;
    font-size: 1.6rem;
    color: #A0A0A0;
  }
  .proyectos__contenido button {
    position: relative;
    margin-top: 50px;
    z-index: 3;
    cursor: pointer;
    width: 118px;
    height: 32px;
    font-size: 1.6rem;
    background-color: #02204B;
    color: white;
    border: 0;
  }
  .proyectos__caja-crema {
    position: relative;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: #FBECD9;
    background-image: url("../img/patron.svg");
  }
  .proyectos__caja-crema img {
    width: 135%;
    position: absolute;
    left: -290px;
    bottom: -3%;
  }
}
@media (max-width: 1024px) {
  .proyectos {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 700px;
  }

  .proyectos__contenido {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .proyectos__contenido > h1 {
    font-size: 4.5rem;
    list-style: 3.5rem;
    padding-left: 30px;
  }

  .proyectos__contenido > h3,
.proyectos__contenido > p,
.proyectos__contenido > button {
    margin-left: 30px;
  }

  .proyectos__caja-crema img {
    width: 119%;
    position: absolute;
    left: -156px;
    bottom: 25%;
  }
}
.icons {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 112px;
}
.icons__containers {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #02204B;
  padding-left: 30%;
}
.icons__containers img {
  padding: 20px;
}

@media (max-width: 1024px) {
  .icons__containers {
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 0%;
  }
}
.testimoniales {
  width: 100%;
  height: 894px;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 2fr 5fr 1fr;
  position: relative;
}
.testimoniales h1 {
  position: relative;
  left: 95%;
  margin-top: 90px;
  font-size: 6em;
  line-height: 0.9em;
  color: #02204B;
}
.testimoniales__azul {
  width: 455px;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: #02204B;
  background-image: url("../img/patron.svg");
}
.testimoniales__testimonio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 3fr 1fr;
  position: relative;
  width: 70%;
  height: 548px;
  position: absolute;
  margin: 15%;
  margin-left: 20%;
  background-color: white;
  box-shadow: 0px 4px 18px 2px rgba(0, 0, 0, 0.1);
  background-image: url("../img/Bg-Quotation-mark.svg");
}
.testimoniales__testimonio img {
  width: 78%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: -112px;
}
.testimoniales__testimonio h3 {
  font-size: 21px;
  line-height: 0.9em;
  color: #AEA56E;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.testimoniales__testimonio .subtitulo {
  font-size: 1.6rem;
  color: #A0A0A0;
  margin-top: 2rem;
  padding: 10px 0;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.testimoniales__testimonio .subtitulo::before {
  content: "";
  display: flex;
  flex-direction: column;
  margin: 3px 0;
  width: 30%;
  height: 2px;
  border-top: 1px solid #A0A0A0;
}
.testimoniales__testimonio p {
  font-size: 1.6rem;
  color: #A0A0A0;
  margin-top: 10rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.testimoniales__testimonio .testimoniales__caja {
  width: 125px;
  height: 125px;
  grid-column-start: 3;
  grid-row-start: 3;
  background-color: #AEA56E;
}
.testimoniales__testimonio .testimoniales__caja .caja-excelente {
  position: relative;
  top: -45px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}

@media (max-width: 1024px) {
  .testimoniales h1 {
    position: relative;
    left: 30%;
  }
  .testimoniales__testimonio {
    width: 90%;
    margin: 3%;
    margin-top: 190px;
    background-size: 100%;
  }
}
.map {
  width: 100%;
  height: 639px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FBECD9;
  background-image: url("../img/patron.svg");
}
.map__from {
  width: 64%;
  height: 525px;
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: 0px 4px 18px 2px rgba(0, 0, 0, 0.1);
}
.map__from .map__caja-azul {
  width: 100%;
  height: 218px;
  background-color: #02204B;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.map__from form {
  display: block;
  position: absolute;
  max-width: 315px;
  height: 438px;
  align-items: center;
  justify-items: center;
  padding-left: 80px;
  padding-top: 61px;
}
.map__from form h3 {
  font-size: 21px;
  line-height: 0.9em;
  color: #AEA56E;
}
.map__from form label {
  display: block;
  font-size: 1.6rem;
  color: #A0A0A0;
  margin-top: 42px;
}
.map__from form input {
  display: block;
  width: 160%;
  border: 0;
  border-bottom: 1px solid rgba(160, 160, 160, 0.3);
  background-color: rgba(255, 255, 255, 0);
}
.map__from form .mensaje {
  height: 40px;
}
.map__from form button {
  margin-left: 80%;
  margin-top: 20px;
  width: 118px;
  height: 32px;
  font-size: 1.6rem;
  background-color: #AEA56E;
  color: white;
  border: 0;
}
.map__from .map__from-container {
  position: relative;
  height: 350px;
  left: 95%;
  top: 100px;
}
.map__from .map__from-container iframe {
  position: absolute;
  width: 130%;
  left: 0;
  top: 0;
  box-shadow: 0px 4px 18px 2px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
  .map__from {
    width: 80%;
    height: 525px;
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .map__from .map__from-container {
    width: 100%;
    left: 93%;
    top: 72px;
  }
  .map__from .map__from-container iframe {
    width: 100%;
    height: 350px;
  }
}