@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ugz6d7');
    src:  url('fonts/icomoon.eot?ugz6d7#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?ugz6d7') format('truetype'),
      url('../fonts/icomoon.woff?ugz6d7') format('woff'),
      url('../fonts/icomoon.svg?ugz6d7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook2:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  

$color-cream: #FBECD9;
$color-cream-hover: #EFE1C1;
$color-royal-blue: #02204B;
$color-ocre: #AEA56E;
$color-grey: #A0A0A0;

$title: 6em;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    width: 100%;
    max-width: 1366px;
    height: 400vh;
    margin: 0 auto;
    border: 1px solid red;
}
.navegation{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 706px;
    background-color: $color-cream;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    &__icon{
        display: flex;
        justify-content: center;
        width: 230px;
        height: 28.1rem;
    }
            li{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 230px;
                height: 103px;
                list-style: none;
                a{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: inherit;
                    height: inherit;
                    font-size: 2rem;
                    color: $color-grey;
                    text-decoration: none;
                }
                a:hover{
                    background-color: $color-cream-hover;
                }
            }
            li::after{
                content: '';
                width: 50%;
                border-bottom: 1px solid rgba($color-grey, .3);
            }
            li:nth-child(5)::after{
                border-bottom: 0;
            }
}

.rrss{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 9.7rem;
    height: 38.7rem;
    border: 1px solid red;
    position: fixed;
    top: 90px;
    left: 92.2vw;
    z-index: 2;
    &__icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        margin-top: 20px;
        background-color: $color-royal-blue;
        a{
            width: inherit;
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .icon-whatsapp{
            font-size: 35px;
            color: white;
        }
        .icon-facebook2{
            font-size: 35px;
            color: white;
        }
        .icon-instagram{
            font-size: 35px;
            color: white;
        }
        .icon-youtube{
            font-size: 35px;
            color: white;
        }
    }

}

.banner{
    width: 100%;
    height: auto;
    border: 1px solid red;
    position: relative;
    &__img{
        width: 100%;
        position: absolute;
        overflow: hidden;
        img{
            border-image: fill;
           position: relative;
            right: -130px;
        }
    }
    h1{
        width: 100%;
        max-width: 350px;
        font-size: $title;
        position: relative;
        left: 267px;
        top: 242px;
        color: $color-royal-blue;
        z-index: 2;
    }
    p{
        position: relative;
        left: 267px;
        top: 262px;
        font-size: 1.6rem;
        color: $color-grey;
    }
    &__boton{
        position: relative;
        left: 267px;
        top: 292px;
        width: 118px;
        height: 32px;
        font-size: 1.6rem;
        background-color: $color-ocre;
        color: white;
        border: 0;
    }
}