        section.icons
            .icons__containers
                img(src="../img/icon_centromesa.svg", alt="icon_centromesa")
                img(src="../img/icon_archivador.svg", alt="icon_archivador")
                img(src="../img/icon_cama.svg", alt="icon_cama")
                img(src="../img/icon_lampara.svg", alt="icon_lampara")
                img(src="../img/icon_silla.svg", alt="icon_silla")
                img(src="../img/icon_mesa.svg", alt="icon_mesa")
                img(src="../img/icon_closet.svg", alt="icon_closet")