section.banner
    .banner__img
        img(srcset="../img/banner-1.png , ../img/banner-1@2x.png x2")
    h1 #{titles[0]}</br>#{titles[1]}
        
    p 16 Lorem ipsum dolor sit amet consectetur, </br> em adipiscing elit conubia vulputate nam augue,</br> viverra eros velit scelerisque.
    button.banner__boton Más info