section.banner
    .banner__img
        img(srcset="../img/Vualart-cover-6@2x.jpg , ../img/Vualart-cover-6.jpg x2")
    h1 #{titles[0]}</br>#{titles[1]}
        
    p 16 Lorem ipsum dolor sit amet consectetur, </br> #[em adipiscing elit conubia vulputate nam] augue,</br> viverra eros velit scelerisque.
    button.banner__boton Más info