section.map
    .map__from
        .map__caja-azul
        form(action="")
            h3 Contactanos
            label(for="Nombre") Nombre
            input(type="text" id="Nombre")
            label(for="Email") Email
            input(type="text" id="Email")
            label(for="Cel") Celular
            input(type="phone" id="cel")
            label(for="Mensaje") Mensaje
            input(type="text" id="Mensaje").mensaje
            button Enviar
        .map__from-container
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.052084843188!2d-75.59231868478872!3d6.256869327940267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44290e4f870f69%3A0xf57f97b59ef52c39!2sEstadio%20de%20F%C3%BAtbol%20Atanasio%20Girardot!5e0!3m2!1ses-419!2sco!4v1585336767691!5m2!1ses-419!2sco" width="513" height="305" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")