header.navegation
            .navegation__icon
                img(src="../img/Logo_Vualart.svg", alt="logo-valuart")
            nav
                ul
                    li
                        a(href="#") Conócenos
                    li
                        a(href="#") Productos & </br> servicios
                    li
                        a(href="#") Proyectos
                    li
                        a(href="#") Contacto
                    li
                        a(href="#") Blog