section.products
            .products__caja-azul
            .products__caja-productos
                .arrow__up
                ul
                    li
                        p
                            |01 
                        a(href="") Diseño
                    li
                        p
                            |02
                        a(href="") Mobiliario
                    li
                        p
                            |03 
                            a(href="") Construcción
                    li
                        p
                            |04 
                            a(href="") Remodelación
                .arrow__down
            .products__caja-img
                h1 Productos &</br> servicios
                img(srcset="../img/lampara-vualart.png, ../img/lampara-vualart@2x.png x2", alt="")
                