
<section class="products">
  <div class="products__caja-azul"></div>
  <div class="products__caja-productos">
    <div class="arrow__up"></div>
    <ul>
      <li>
        <p>01 </p><a href="">Diseño</a>
      </li>
      <li>
        <p>02</p><a href="">Mobiliario</a>
      </li>
      <li>
        <p>03 <a href="">Construcción</a></p>
      </li>
      <li>
        <p>04 <a href="">Remodelación</a></p>
      </li>
    </ul>
    <div class="arrow__down"></div>
  </div>
  <div class="products__caja-img">
    <h1>Productos &</br> servicios</h1><img srcset="../img/lampara-vualart.png, ../img/lampara-vualart@2x.png x2" alt=""/>
  </div>
</section>