
<section class="proyectos">
  <div class="proyectos__contenido">
    <h1>Proyectos Vualart</h1>
    <h3 class="subtitulos">Espaciso </br>que cautivan</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ipsa itaque voluptatibus reiciendis distinctio error similique repellendus ab culpa explicabo dolor nam minus eligendi cupiditate ullam, modi fuga.</p>
    <button>Ver más</button>
  </div>
  <div class="proyectos__caja-crema"><img src="../img/Proyectos-jardin-interior.png" alt="Proyectos-jardin-interio"/></div>
</section>