doctype html
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="../css/main.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Valuart
    body
        header.navegation
            .navegation__icon
                img(src="../img/Logo_Vualart.svg", alt="logo-valuart")
            nav
                ul
                    li
                        a(href="#") Conócenos
                    li
                        a(href="#") Productos & </br> servicios
                    li
                        a(href="#") Proyectos
                    li
                        a(href="#") Contacto
                    li
                        a(href="#") Blog
        section.banner
            .banner__img
                img(src="img/")
            h1 Espacios </br> con personalidad
            p 16 Lorem ipsum dolor sit amet consectetur, adipiscing elit conubia vulputate nam augue, viverra eros velit scelerisque.
            button.banner__boton Más info

