include components/globales.pug

doctype html
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="../css/main.css")
        link(rel="stylesheet", href="../css/style.css")
        link(rel="font", href="icomoon.ttf")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Valuart
    body
        include components/navegation.pug
        include components/rrss.pug
        include components/banner.pug
        include components/products.pug
        include components/proyectos.pug
        include components/icon.pug
        include components/testimoniales.pug
        include components/map.pug