
.banner{
    width: 100%;
    height: 70.2rem;
    position: relative;
    overflow: hidden;
    &__img{
        width: 100%;
        position: absolute;
        // overflow: hidden;
        img{
            position: relative;
            // right: -130px;
        }
    }
    h1{
        width: 100%;
        font-size: $title;
        position: relative;
        left: 267px;
        top: 242px;
        color: $color-royal-blue;
        z-index: 2;
    }
    p{
        position: relative;
        left: 267px;
        top: 262px;
        font-size: 1.6rem;
        color: $color-grey;
    }
    &__boton{
        position: relative;
        left: 267px;
        top: 292px;
        width: 118px;
        height: 32px;
        font-size: 1.6rem;
        background-color: $color-ocre;
        color: white;
        border: 0;
    }
}

@media (max-width: 1024px){
    .banner{

        &__img{
            right: 33%;
            img{
                position: relative;
            }
        }
        h1{
            left: 3%;
            font-size: 4.5rem;
            line-height: 3.5rem;
        }
        p{
            left: 3%;
        }
        &__boton{
            left: 3%;
        }
    }
}