@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ugz6d7');
    src:  url('fonts/icomoon.eot?ugz6d7#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?ugz6d7') format('truetype'),
      url('../fonts/icomoon.woff?ugz6d7') format('woff'),
      url('../fonts/icomoon.svg?ugz6d7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook2:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  

$color-cream: #FBECD9;
$color-cream-hover: #EFE1C1;
$color-royal-blue: #02204B;
$color-ocre: #AEA56E;
$color-grey: #A0A0A0;

$title: 6em;

.arrow__up{
    margin: 20px;
    border-bottom: 10px solid $color-ocre;
    border-top: 10px solid rgba(#fff,0);
    border-left: 10px solid rgba(#fff,0);
    border-right: 10px solid rgba(#fff,0);
}

.arrow__down{
    margin: 20px;
    border-top: 10px solid $color-ocre;
    border-bottom: 10px solid rgba(#fff,0);
    border-left: 10px solid rgba(#fff,0);
    border-right: 10px solid rgba(#fff,0);
}

@mixin titulos{
  font-size: $title;
  line-height: .9em;
  color: $color-royal-blue;
}

@mixin subtitulos{
    font-size: 21px;
    line-height: .9em;
    color: $color-ocre;
}

@mixin boton-2 {
    width: 118px;
    height: 32px;
    font-size: 1.6rem;
    background-color: $color-royal-blue;
    color: white;
    border: 0;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    width: 100%;
    max-width: 1366px;
    height: 800vh;
    margin: 0 auto;
    border: 1px solid red;
}