.products{
    width: 100%;
    height: 97.6rem;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    &__caja-azul{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4;
        background-color: $color-royal-blue;
        background-image: url("../img/patron.svg");
        background-image: cover;
    }
    &__caja-productos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        .arrow__up{
            @extend .arrow__up;
        }
        ul{
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 313px;
            height: 100px;
            overflow: hidden;
            li{
                display: flex;
                list-style: none;
                align-items: center;
                justify-content: center;
                p{
                    font-size: 72px;
                    color: $color-grey;
                }
                a{
                    text-decoration: none;
                    color: $color-grey;
                    font-size: 36px;
                }

        }
        }
        .arrow__down{
            @extend .arrow__down;
        }
    }
    &__caja-img{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 976px;
        overflow: hidden;
        h1{
            width: 100%;
            height: 100%;
            color: $color-royal-blue;
            font-size: $title;
            padding: 60px 20px;
        }
        img{
            width: 100%;
            object-fit: contain;
        }
    }
}

@media (max-width: 1024px){
    .products{
        overflow: hidden;
        &__caja-azul{
            display: none;
        }
        &__caja-productos{
            grid-column-start: 1;
            grid-column-end: 2;
            }  
        &__caja-img{
            margin-left: 55px;
            grid-column-start: 2;
            grid-column-end: 4;

            h1{
                font-size: 4.5rem;
                line-height: 3.5rem;
                padding: 25%;
            }
        }
    }
}