.testimoniales{
    width: 100%;
    height: 894px;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 2fr 5fr 1fr;
    position: relative;
    h1{
        position: relative;
        left: 95%;
        margin-top: 90px;
        @include titulos;
    }
    &__azul{
        width: 455px;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 4;
        background-color: $color-royal-blue;
        background-image: url("../img/patron.svg");
    }
    &__testimonio{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 2fr 3fr 1fr;
        position: relative;
        width: 70%;
        height: 548px;
        position: absolute;
        margin: 15%;
        margin-left: 20%;
        background-color: white;
        box-shadow: 0px 4px 18px 2px rgba(0,0,0,0.1);
        background-image: url("../img/Bg-Quotation-mark.svg");
        img{
            width: 78%;
            height: auto;
            position: absolute;
            bottom: 0;
            left: -112px;
        }
        h3{
            @include subtitulos;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .subtitulo{
            font-size: 1.6rem;
            color: $color-grey;
            margin-top: 2rem;
            padding: 10px 0;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .subtitulo::before{
            content: '';
            display: flex;
            flex-direction: column;
            margin: 3px 0;
            width: 30%;
            height: 2px;
            border-top: 1px solid $color-grey;
        }
        p{
            font-size: 1.6rem;
            color: $color-grey;
            margin-top: 10rem;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .testimoniales__caja{
            width: 125px;
            height: 125px;
            grid-column-start: 3;
            grid-row-start: 3;
            background-color: $color-ocre;
            .caja-excelente{
                position: relative;
                top: -45px;
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
                font-size: 2rem;
                color: white;
            }
        }
    }
}
